<h2>Users</h2>

<div id="dashboard-materials">
<table class="table">
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.approved %></td>
      <% if user.approved == false %>
        <td><%= link_to "Approve", dashboard_approve_path(:user => user, :approved => "true") %></td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>