<section id="about">
  <div class="container">
    <div id="instructors" class="featurette">
      <h2>Meet your instructors</h2>
      <div class="instructor-list">
        <div class="row">
          <div id="kayvon-g" class="instructor-details span6">
            <div class="instructor-image">
              <%= image_tag("kayvon.png", :class => "featurette-image") %>
            </div>
            <div class="instructor-bio">
              <h3>Kayvon Ghaffari</h3>
              <p>As a recent Computer Science graduate from UC San Diego, I now reside in my hometown of Cupertino where I'm fully enjoying graduate life. Currently, I'm a software engineer at HGST, a Western Digital Company. Outside of work, I spend most of my free time continuing my learning with fun side projects in web and mobile app development. Opening my little brother's eyes to  programming inspired me to pursue this journey with David to share our passion and excitement for computer science to others! My past accomplishments include a Microsoft U.S. Imagine Cup 1st place finish back in 2010, internships at Western Digital, and participation in engineering projects at UCSD through Teams in Engineering Services.</p>
            </div>
          </div>
          <div id="david-y" class="instructor-details span6">
            <div class="instructor-image">
              <%= image_tag("david.png", :class => "featurette-image") %>
            </div>
            <div class="instructor-bio">
              <h3>David Yoo</h3>
              <p>David is also a graduate from UC San Diego with a degree in Computer Science. He is currently one of the founders and full stack engineers at an early seed stage startup.  He has always been fascinated by computers and building new things ever since he was little. Now, he spends his free time creating new and exciting side projects on the web. In the past, David was a freelancer developing and designing sites for small businesses while having internships and part-time jobs at Cubic Corporation, Pint, and Mitchell International.  Programming is a realization of the thought process of the programmer. One of his personal goals is to help those who have the desire to learn more about computer science take that first step into thinking like a programmer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

