<section id="about">
  <div class="container">
    <div id="instructors" class="featurette">
      <h2>Meet your instructors</h2>
      <div class="instructor-list">
        <div class="row">
          <div id="instructor-quote" class="span8 offset2">
            <p><i class="icon-quote-left icon-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With Codegain, we hope to fuel individual desires to learn more about Computer Science. Whether you want a new job or just want to learn for fun, Computer Science is an exciting field to be in and we want to help you achieve your goal!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-quote-right icon-2x"></i></p>
          </div>
        </div>
        <div class="row">
          <div id="kayvon-g" class="instructor-details span6">
            <div class="instructor-image">
              <%= image_tag("kayvon.png", :class => "featurette-image") %>
            </div>
            <div class="instructor-bio">
              <h3>Kayvon Ghaffari</h3>
              <p>As a recent Computer Science graduate from UC San Diego, I now reside in my hometown of Cupertino where I'm currently a software engineer at HGST. Outside of work, I spend most of my free time continuing my learning with fun side projects in web and mobile app development. Opening my little brother's eyes to programming inspired me to pursue this journey with David to share our passion and excitement for computer science to others! My past accomplishments include a Microsoft U.S. Imagine Cup 1st place finish, internships at Western Digital, and participation in engineering projects at UCSD through Teams in Engineering Services.</p>
            </div>
          </div>
          <div id="david-y" class="instructor-details span6">
            <div class="instructor-image">
              <%= image_tag("david.png", :class => "featurette-image") %>
            </div>
            <div class="instructor-bio">
              <h3>David Yoo</h3>
              <p>I graduated from UC San Diego with a degree in Computer Science last February. Currently, I am one of the founders at an early seed stage startup that specializes in payments and ecommerce. Like Kayvon, I spend most of my free time experimenting with exciting projects on the web.</p>
              <p>My passion for computers and building things has grown into a full-time commitment and I've never looked back. My past accomplishments range from starting my own freelance business to internships and part-time jobs at Cubic Corporation, Pint, and Mitchell.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

