<style type="text/css">
  h2 {
   font-weight: 300;
   font-size: 4em;
   letter-spacing: -1px;
  }
</style>
<section id="about">
  <div class="container">
    <div id="splash" class="featurette">
      <h2>Making learning easy</h2>
      <h3>We want our students to get excited about programming.</h3>
    </div>
  </div>
</section>