<section id="pricing">
  <div class="container">
    <div id="model" class="featurette">
      <h2>Offered Courses &amp; Pricing</h2>
      <h3><span class="emp">10</span> weeks, <span class="emp">2</span> meetings per week, <span class="emp">1.5</span> hours per meeting.</h3>
      <div class="row">
        <div class="span6">
          <h4>Introduction to Java</h4>
          <p class="desc">This is a 10-week course for beginners who want to learn the fundamentals of Java.  By the end of the course, you will be proficient in Java</p>
          <div class="row">
            <div class="span3">
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Variables, classes, objects, assignment, operators</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Algorithms</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Basic data structures</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Object-oriented programming</p>
              </div>
            </div>
            <div class="span3">
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Types, conditionals</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Loops, nested loops</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Proper commenting, documentation reading</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Weekly programming assignments</p>
              </div>
            </div>
          </div>
        </div>


        <div class="span6 last">
          <h4>Introduction to Java</h4>
          <p class="desc">This is a 10-week course for beginners who want to learn the fundamentals of Java.  By the end of the course, you will be proficient in Java</p>
          <div class="row">
            <div class="span3">
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Variables, classes, objects, assignment, operators</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Algorithms</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Basic data structures</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Object-oriented programming</p>
              </div>
            </div>
            <div class="span3">
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Types, conditionals</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Loops, nested loops</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Proper commenting, documentation reading</p>
              </div>
              <div class="holder">
                <i class="icon-ok icon-large pull-left"></i><p>Weekly programming assignments</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>