<section id="pricing">
  <div class="container">
    <div id="model" class="featurette">
      <h2>Offered courses &amp; pricing</h2>
      <h3><span class="emp">10</span> weeks, <span class="emp">2</span> meetings per week, <span class="emp">1.5</span> hours per meeting, <span class="emp">30</span> total hours of <span class="emp">1-on-1 personalized instruction.</span></h3>
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="span6 span-container">
              <h4>Introduction to Java</h4>
              <p class="desc">This is a 10-week course for beginners who want to learn the fundamentals of Java.  By the end of the course, you will be proficient in Java and ready to take AP Computer Science in high school. The following subjects will be covered and more:</p>
              <div class="row-fluid">
                <div class="row-container">
                  <div class="span6">
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Variables, Classes, Objects, Assignment, &amp; Operators</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Algorithms</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Basic Data Structures</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Object-Oriented Programming</p>
                    </div>
                  </div>
                  <div class="span6">
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Types &amp; Conditionals</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Loops &amp; Nested Loops</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Proper Commenting &amp; Documentation Reading</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Weekly Programming Assignments &amp; Homework</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span12">
                  <p class="price">$700</p>
                </div>
              </div>
            </div>


            <div class="span6 span-container">
              <h4>AP Computer Science Prep</h4>
              <p class="desc">This is a 10-week course for students already taking AP Computer Science and want to get ready for the AP test. This rigorous program will prepare you for any problem the test may have. The following subjects will be covered and more:</p>
              <div class="row-fluid">
                <div class="row-container">
                  <div class="span6">
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Object-Oriented Program Design</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Program Implementation</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Program Analysis</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Standard Data Structures</p>
                    </div>
                  </div>
                  <div class="span6">
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Testing &amp; Debugging</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Java Library Classes</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Understand &amp; Modify Existing Code</p>
                    </div>
                    <div class="holder">
                      <i class="icon-check icon-large pull-left"></i><p>Weekly Programming Assignments &amp; Homework</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span12">
                  <p class="price">$700</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row-fluid">
        <div class="span12">
          <div id="intangibles" class="offset3 span6 span-container">
            <h4>Intangibles</h4>
            <p class="desc">Most preparation classes only prepare you for the classes.  With us, you also get:</p>
            <div class="row-fluid">
              <div class="row-container">
                <div class="span6">
                  <div class="holder">
                    <i class="icon-check icon-large pull-left"></i><p>Lifetime Resource</p>
                  </div>
                  <div class="holder">
                    <i class="icon-check icon-large pull-left"></i><p>Potential Jobs Or Internships</p>
                  </div>
                  <div class="holder">
                    <i class="icon-check icon-large pull-left"></i><p>Future Jobs Or Internships</p>
                  </div>
                </div>
                <div class="span6">
                  <div class="holder">
                    <i class="icon-check icon-large pull-left"></i><p>Customized Programs Tailored to Skill Level</p>
                  </div>
                  <div class="holder">
                    <i class="icon-check icon-large pull-left"></i><p>1-on-1 Instruction</p>
                  </div>
                  <div class="holder">
                    <i class="icon-check icon-large pull-left"></i><p>Competitive Pricing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>