<style type="text/css">
  #who h2 {
   font-weight: 300;
   font-size: 4em;
   letter-spacing: -1px;
   padding-bottom: 10px;
  }
  #who h3 {
    letter-spacing: -1px;
    padding: 5px 0;
    font-size: 1.5em;
  }
</style>
<section id="who">
  <div class="container">
    <div id="splash" class="featurette">
      <h2>Learn through collaboration</h2>
      <h3>codegain teaches basic Computer Science fundamentals.</h3>
    </div>
  </div>
</section>