<section id="program">
  <div id="splash" class="featurette">
    <h2>Learn through collaboration</h2>
    <h3>In-house or online, join us in 10 week programs that will teach you <span class="emp">real-world</span> programming fundamentals.</h3>
  </div>
  <div id="desc" class="featurette">
    <h2>Start by doing</h2>
    <h3>Learn <span class="emp">faster</span> and launch <span class="emp">sooner</span>.</h3>
    <h3>Save time and frustration by learning from <span class="emp">experience</span>, not scratch.</h3>
    <div id="perks" class="container">
      <div class="row">
        <div class="span4">
          <div class="holder">
            <i class="icon-screenshot pull-left"></i>
            <p>Focused lesson plans to get maximum results in minimal time.</p>
          </div>
        </div>
        <div class="span4">
          <div class="holder">
            <i class="icon-cogs pull-left"></i>
            <p>Customized learning process that augments sense of progress to maintain high motivation.</p>
          </div>
        </div>
        <div class="span4">
          <div class="holder">
            <i class="icon-user pull-left"></i>
            <p>Real instructors to give rapid feedback and constant support.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <div class="holder">
            <i class="icon-plane pull-left"></i>
            <p>Write real code and launch meaningful products.</p>
          </div>
        </div>
        <div class="span4">
          <div class="holder">
            <i class="icon-random pull-left"></i>
            <p>Not interested in a topic? Choose your own path.</p>
          </div>
        </div>
        <div class="span4">
          <div class="holder">
            <i class="icon-bar-chart pull-left"></i>
            <p>Track your progress with detailed analytics.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <div class="holder">
            <i class="icon-cloud pull-left"></i>
            <p>Instant access to all course materials.</p>
          </div>
        </div>
        <div class="span4">
          <div class="holder">
            <i class="icon-coffee pull-left"></i>
            <p>Create a network with individuals in the software industry.</p>
          </div>
        </div>
        <div class="span4">
          <div class="holder">
            <i class="icon-magnet pull-left"></i>
            <p>Attract recruiters and impress interviewers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>