<section id="who">
  <div class="container">
    <div class="featurette">
      <%= image_tag("", :class => "featurette-image pull-right") %>
      <h2 class="featurette-heading">Testing this out</h2>
    </div>
  </div>
</section>