<h2>Users</h2>

<div id="dashboard-materials">
<table class="table">
  <% @students.each do |student| %>
    <tr>
      <td><%= student.email %></td>
      <td><%= student.get_active_course_name %></td>
      <%= form_for @enrollment do |f| %>
        <fieldset>
        </fieldset>
      <% end %>
    </tr>
  <% end %>
</table>
</div>