// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Dashboard styling
#dashboard {
  background-color: white;
}

#dashboard-home {
  margin: 0 auto;
  margin-top: 75px;
}

#dashboard-home h2 {
  margin-bottom: 50px;
}

#dashboard-materials table {
  text-align: center;
  margin: 0 auto;
  background: rgba(236, 240, 241, 1);
  margin-bottom: 50px;
}

#dashboard-materials table tr td {
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
}

#main.backend {
  background-color: white;
  height: 100%;
}

#error_explanation h2 {
  font-size: 17px;
  line-height: 25px;
  margin: 25px 0;
  font-weight: 400;
  color: red;
}

#error_explanation ul li {
  color: red;
  text-align: left;
}

/* Sidebar */
.sidebar-nav-fixed {
  position: fixed;
  top: 240px;
  width:20%;
}

.sidebar-nav-custom {
  position: relative;
  top: 175px;
}

.sidebar-nav ul li{
  padding: 10px 0;
  text-transform: uppercase;
  list-style: none;
}

/** MEDIA **/

@media (max-width: 767px) {
   .sidebar-nav-fixed {
      position: static;
      width:auto;
   }
 }

 @media (max-width: 979px) {
   .sidebar-nav-fixed {
      width: auto;
   }
 }

