// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  font-weight: 300;
  font-size: 4em;
  letter-spacing: -1px;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  padding: 5px 0;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

label {
  display: inline-block;
}

textarea {
  border: none;
}

.notice {
  color: rgba(255, 95, 63, 0.8);
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 21px;
  padding: 5px;
  -moz-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  position: absolute;
  right: 33%;
  top: 15px;
}

::selection, ::-moz-selection {
  background: #ff5f3f;
  color: white;
}

/** General styling **/
.featurette {
  color: white;
  padding: 10em 0;
}

/** Navbar **/
.navbar {
  opacity: 0.9;
}

.navbar-inverse .nav > li > a {
  padding-bottom: 7px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 10px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus{
  background-color: transparent;
  border-bottom: 3px solid #ff5f3f;
  padding-bottom: 7px;
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/** About **/
#about {
  background-color: #433626;
}

#instructors {
  color: #ffffdf;
}

#splash {
  text-align: center;
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 600px;
  height: 100%;
  width: inherit;
}

.instructor-list {
  padding: 30px 0;
}

.instructor-image {
  height: 165px;
  text-align: center;
  padding: 30px 0;
}

.instructor-bio {
  padding: 10px 0;
}

.instructor-bio h3 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2em;
  letter-spacing: 2px;
}

.instructor-bio p {
  line-height: 35px;
}

#instructor-quote p {
  padding: 25px 0;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  line-height: 55px;
  font-style: italic;
}

/** Program **/
#program {
  width: 100%;
}

.emp {
  font-style: italic;
}

#program .row {
  padding: 30px 0;
}

#desc {
  background: #333;
}

#desc h2, #desc h3 {
  text-align: center;
}

#perks {
  padding-top: 50px;
}

.holder {
  display: table;
  width: inherit;
}

.holder i {
  font-size: 5em;
  color: #ff5f3f;
}

.holder p {
  display: table-cell;
  vertical-align: middle;
}

/** Contact **/
#contact {
  background-color: #316586;
}

/** Contact form **/

#form-container {
  padding: 50px 0;
}

#form-container .row > div {
  padding: 25px 0;
  border: 1px black white;
  background-color: #1C445D;
  text-align: center;
  border-radius: 10px;
}

#form-container h4 {
  margin-bottom: 25px;
  color: #6FBFF2;
}

#new_message {
  text-align: center;
}

.field input {
  width: 400px;
  height: 35px;
  padding: 5px 15px;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.field input:focus {
  /*background-color: rgba(153, 156, 203, .2);*/
  /*background-color: #c8e1e6;*/
  /*border: 10px solid rgb(255, 145, 123);*/
  border: 10px solid #6FBFF2;
}

#message_body {
  width: 400px;
  height: 100px;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  padding: 10px 15px;
}

#message_body:focus {
  /*background-color: rgba(153, 156, 203, .2);*/
  /*background-color: #c8e1e6;*/
  border: 10px solid #6FBFF2;
}

#contact-form-submit {
  width: 200px;
  background: rgba(255, 95, 63, .8);
  color: white;
  border: none;
  border: transparent;
  border-radius: 5px;
  padding: 20px;
  margin-top: 25px;
}

#contact-form-submit:hover {
  background: rgba(255, 95, 63, 1);
}

span.add-on.test {
  background-color: rgba(147, 114, 247, .5);
}

.featurette > h2 {
  text-align: center;
}

#checkboxes {
  margin: 10px;
  text-align: center;
}

#checkboxes label {
  padding-left: 5px;
  font-size: 18px;
  color: white;
}

#checkboxes > label:hover {
  color: rgba(255, 95, 63, 1);
}

#checkboxes label:first-child {
  padding-left: 0px;
  color: white;
}

#checkboxes > input {
  margin-left: 15px;
  margin-top: 0;
}

#select-box {
  margin-top: 10px;
}

#select-box > label {
  margin-right: 10px;
  font-size: 18px;
  color: white;
}

input[type='checkbox']:checked + label {
  color: rgba(255, 95, 63, 1) !important;
}

label.error {
  float: none;
  color: red;
  margin-left: 0px;
  padding-left: .5em;
  vertical-align: top;
  width: 400px;
  padding: 10px 0;
}

.required.error {
  border: 5px solid red;
}