// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

::selection, ::-moz-selection {
  background: #ff5f3f;
  color: white;
}

/** General styling **/
.featurette {
  color: white;
  padding: 10em 5em;
}

/** Navbar **/
.navbar {
  opacity: 0.9;
}

.navbar-inverse .nav > li > a {
  padding-bottom: 7px;
  padding-right: 0;
  padding-left: 0;
  margin: 0 10px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus{
  background-color: transparent;
  border-bottom: 3px solid #ff5f3f;
  padding-bottom: 7px;
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/** About **/
#about {
}

#instructors {
  padding: 5em 0;
  color: black;
}

#splash {
  text-align: center;
}

.instructor-image {
  text-align: center;
  padding: 10px 0;
}

.instructor-bio {
  padding: 10px 0;
}

.instructor-bio p {
  line-height: 2em;
}

/** Who **/
#who {
  background-image: url("bg.jpg");
  min-height: 500px;
}
/** Contact **/

/** Contact form **/
#contact-form {
  text-align: center;
}

.field input {
  width: 400px;
  -moz-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.field input:focus {
  background-color: rgba(153, 156, 203, .2);
}

#message {
  width: 400px;
  height: 75px;
  -moz-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#message:focus {
  background-color: rgba(153, 156, 203, .2);
}

#contact-form-submit {
  width: 445px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9372F7), color-stop(100%, #6443C9));
  color: #100F14;
  border: none;
  border: transparent;
  border-radius: 5px;
  padding: 0.64286em 1.71429em 0.64286em 1.71429em;
}

#contact-form-submit:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6443C9), color-stop(100%, #9372F7));
}

.add-on {
  padding: 5px;
}