// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** General styling **/
.featurette {
  color: white;
  padding: 10em 5em;
}

/** Navbar **/
.navbar {
  opacity: 0.9;
}

/** About **/
#about {
  background-image: url("bg.png");
}

#splash {
  text-align: center;
}

/** Who **/
#who {
  background-color: #eee;
}

/** Contact **/

/** Contact form **/
#contact-form {
  text-align: center;
}

.field input {
  width: 400px;
  -moz-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.field input:focus {
  background-color: rgba(153, 156, 203, .2);
}

#message_body {
  width: 400px;
  height: 75px;
  -moz-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

#message_body:focus {
  background-color: rgba(153, 156, 203, .2);
}

#contact-form-submit {
  width: 445px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9372F7), color-stop(100%, #6443C9));
  color: #100F14;
  border: none;
  border: transparent;
  border-radius: 5px;
  padding: 0.64286em 1.71429em 0.64286em 1.71429em;
}

#contact-form-submit:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6443C9), color-stop(100%, #9372F7));
}

.input-prepend .message {
  height: 75px;
}

.input-prepend .add-on {
  -moz-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.input-prepend .add-on:hover {
  background-color: rgba(147, 114, 247, .5);
}

.input-prepend .add-on:focus {
  background-color: rgba(147, 114, 247, .5);
}